html,
body {
	padding: 0;
	margin: 0;
	-ms-overflow-style: scrollbar;
}

#title-bar {
	-webkit-app-region: drag;
	 height: 32px;
	 padding: 0px;
	 margin: 0px;
	 color: rgb(255, 0, 242);
	 font-family: sans-serif;
	 position: fixed;
	 left:0;
	 top:0;
	 width:100%;
	 background: rgba(29, 28, 28, 0.96);
	 z-index:200;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;
	line-height: 32px;
	font-size: 14px;
	z-index:200;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;
}

#title-bar-btns button {
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
	background-color: #3F3F41;
}

a {
	color: #68217A;
}

img {
	vertical-align: top;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #2D2D30;
	/*border: 1px solid rgb(122, 33, 97);*/
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

.container {
	padding-top: 32px;
	max-height: 100%;
}

#boardHeader {
	padding-top: 32px;
}

::-webkit-scrollbar {
	display: none;
}

#threads {
	padding: 12px;
	color: #CCCCCC;
}

.grid-item,
.grid-sizer {
  width: auto;
}

.grid-item {
  float: left;
  height: auto;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}


/* Isotope */
/* .grid-item {
	width: 25%;
}

.grid-item--width2 {
	width: 50%;
} */
